DerivedData
libco_mac.xcworkspace/xcuserdata
co/co.xcodeproj/xcuserdata
corpc/corpc.xcodeproj/xcuserdata
test/echocli/echocli.xcodeproj/xcuserdata
test/echosvr/echosvr.xcodeproj/xcuserdata
test/rpccli/rpccli.xcodeproj/xcuserdata
test/rpcsvr/rpcsvr.xcodeproj/xcuserdata
test/test*

