DerivedData
libcorpc_mac.xcworkspace/xcuserdata
co/co.xcodeproj/xcuserdata
corpc/corpc.xcodeproj/xcuserdata
test/rpccli/rpccli.xcodeproj/xcuserdata
test/rpcsvr/rpcsvr.xcodeproj/xcuserdata
test/interRpc/interRpc.xcodeproj/xcuserdata
test/innerRpc/innerRpc.xcodeproj/xcuserdata
test/test*
tutorial/tutorial1/tutorial1.xcodeproj/xcuserdata
tutorial/tutorial2/tutorial2.xcodeproj/xcuserdata
tutorial/tutorial3/tutorial3.xcodeproj/xcuserdata
tutorial/tutorial4/tutorial4.xcodeproj/xcuserdata
tutorial/tutorial5/tutorial5.xcodeproj/xcuserdata
